@media (min-width: 740px) and (max-width: 1024px) {
   #menu {
      display: block;
   }
   form {
      margin-right: 0;
   }
   .home {
      padding: 1rem 4rem;
   }
   .btn {
      text-align: center;
   }
   .heading {
      margin: 0 3rem;
   }

   .box {
      width: 100%;
   }

   .box-img {
      width: 100%;
   }
   .content {
      margin-right: 3rem;
   }
   .description {
      padding-left: 9.5rem;
   }
   .btn-img {
      display: none;
   }
}

@media (max-width: 739px) {
   body {
      padding: 0;
   }
   header {
      left: -120%;
   }
   header.toggle {
      left: 0%;
   }
   #menu {
      display: block;
   }
   .btn {
      text-align: center;
   }
   .home {
      padding: 1rem 4rem;
   }
   .heading {
      margin: 0 3rem;
   }
   .description {
      padding-left: 4rem;
   }
   .box {
      width: 100%;
   }

   .box-img {
      width: 100%;
   }
   form {
      width: 100vw;
      margin: 3rem 0;
   }
   .content {
      margin-right: 9rem;
   }
}

@media (max-width: 415px) {
   header {
      width: 100vw;
   }
   body {
      padding-left: 0;
   }
   .btn-img {
      display: none;
   }
}
